<!-- FORM_TAG example
<%= form_tag("/users") do %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Submit") %>
<% end %> 
-->

<%= form_with model: @user do |form| %>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>
</ul>
<%= form.label :email, "Email:"%>
<%= form.text_field :email, placeholder: @user.email %>
<%= form.label :username, "Username:" %>
<%= form.text_field :username, placeholder: @user.username%>
<%= form.label :password, "Password:" %>
<%= form.password_field :password, placeholder: @user.password %>
<%= form.submit %>
<% end %>